A:link {
	text-decoration: none; /* Убирает подчеркивание для ссылок */
	}
A:hover {
	text-decoration: underline;
    color: red;
	}
A {
	font-size: 24px;
	color: green;
	}
.title {
    text-align: center;
    }
.right {
	width: 500px;
    float: right;
    background: yellow;
    border: 4px double black;
    clear: both;
    }
.left {
	width: 400px;
    float: left;
    background: aliceblue;
    border: 4px double black;
    clear: both;
    }
.center {
	width: 400px;
    margin: 0 auto;
    border: 4px double black;
    clear: both;
	}
.text {
	font-style: italic;
	}
.comment {
	background: grey;
    margin: 0 0 0 0;
    }
.redbox {
	width:800px;
    background: red;
    clear: both;
    border: 4px double black;
    }
footer {
	clear: both;
    text-align: center;
    }
                    